/* General Navbar Styling */
.navbar {
    padding: 0 0;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


[alt="logo"] {
    width: 100px;
    height: auto;
}


.navbar-nav .nav-item {
    margin: 0 10px; 
    font-size: 0.9rem; 
}
.nav-link {
    font-size: 0.9rem; 
}

.navbar-nav .nav-item {
    padding: 0; 
}


.slogan_image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #003C37; 
    padding: 50px;
    border-radius: 20px;
    color: #F8CFCF; 
    margin-top: 80px; 
}

.slogan {
    flex: 1;
    max-width: 50%;
}

#slogan {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

button {
    border: none;
    padding: 15px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
}

#bt1 {
    background-color: #004A42;
    color: white;
    margin-right: 10px;
}

#bt2 {
    background-color: #F8CFCF; 
    color: #003C37;
}

.image_accueil {
    flex: 1;
    display: flex;
    justify-content: center;
}

.image_accueil img {
    max-width: 80%;
    border-radius: 20px;
}

.texteInformateur {
    width: 90%; 
    max-width: 1200px;
    margin: 50px auto;
    padding: 50px;
    background-color: #f8f9fa; 
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    text-align: left;
}

.texteInformateur h1 {
    font-size: 3rem; 
    color: #004A42; 
    margin-bottom: 30px;
}

.texteInformateur p {
    font-size: 1.3rem;
    color: #333;
    line-height: 2;
    white-space: pre-line;
}

.accordion-button {
    font-weight: bold;
    font-size: 1.2rem;
    color: #003C37;
    background-color: #fff;
    border: none;
}

.accordion-button:not(.collapsed) {
    background-color: #E6F2EF;
}

.accordion-item {
    border: none;
    border-bottom: 1px solid #ddd;
}

.accordion-body {
    font-size: 1rem;
    color: #333;
}

.project-card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.project-card:hover {
    transform: translateY(-5px); /*ajoute le mouvement du div lors du passage de la souris*/
}

.project-card img {
    height: 200px;
    object-fit: cover;
}
